.chat {
  margin-left: 6vw;
}

.sample-messages-container {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-16);
}

.sample-messages {
  width: 100%;
  padding: var(--spacing-32);
  background: var(--colors-cool-grey-200);
}

.widget-ask input {
  display: inline-flex;
  height: var(--spacing-56, 56px);
  padding: 7px 21px;
}
.widget-ask svg {
  position: absolute;
  transform: translate(-52px, 4px);
}
