#showArticles:hover + .articles-dropdown-container,
.articles-dropdown-container:hover {
  visibility: visible;
  transition-delay: 0s;
}

.articles-dropdown-container {
  top: 80px;
  position: absolute;
  justify-content: space-between;
  display: flex;

  transition: visibility 0.2s;
  visibility: hidden;
}
.articles-dropdown-container > div {
  padding: var(--spacing-56);
}

.articles-dropdown-title.top-margin-large {
  margin-top: var(--spacing-56);
}
.articles-dropdown-entry {
  margin: var(--spacing-12) 0;
}

.articles-dropdown-container .toc {
  border-right: 1px solid var(--colors-cool-grey-200);
}

@media (max-width: 780px) {
  .articles-dropdown-container .toc {
    border-right: 0;
  }
}
