#showArticles:hover + .articles-dropdown-container,
.articles-dropdown-container:hover {
  visibility: visible;
  transition-delay: 0s;
}

.articles-dropdown-container {
  z-index: 100;
  position: absolute;
  padding: 56px;

  background-color: #fff;
  width: 756px;
  top: 80px;
  left: 300px;
  justify-content: space-between;
  display: flex;

  transition: visibility 0.2s;
  visibility: hidden;
}
.articles-dropdown-title.top-margin-large {
  margin-top: 56px;
}
.articles-dropdown-entry {
  margin: 12px 0;
}
.articles-dropdown-teal-entry {
  color: var(--colors-teal-500);
}
.dropdown-button {
  padding: 7px 17px;
  font-size: 16px;
}
