article.stampy {
  background: var(--colors-light-grey);
  padding: var(--spacing-40);
  border-radius: var(--spacing-6);
  max-width: unset;
  margin: var(--spacing-16);
  margin-left: var(--spacing-56);
}

.chat-entry .title {
  display: flex;
  gap: var(--spacing-16);
  align-items: center;
}

.chat-entry .info {
  position: relative;
  display: flex;
  gap: var(--spacing-8);
  align-items: center;
}

.chat-entry .icon-container {
  position: relative;
}

.chat-entry .hint-contents-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  visibility: hidden;
  width: 256px;
  padding-top: 120%;
  z-index: 100;
}

.chat-entry .hint-contents {
  background: var(--colors-cool-grey-900);
  color: white;
  padding: var(--spacing-16);
  border-radius: var(--border-radius);
}

.chat-entry .hint-contents-container:hover,
.chat-entry .hint:hover + .hint-contents-container {
  visibility: visible;
}

.chat-entry .reference-link {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  vertical-align: super;
  padding: 2px 4px;
  margin-left: 2px;
  border-radius: var(--border-radius);
}
.chat-entry .reference-link span {
  min-width: 10px;
  display: inline-block;
  text-align: center;
}

.ref-1 {
  background: #dbffed;
  color: #00c159;
}

.ref-2 {
  background: #ffe5f6;
  color: #ff16ae;
}

.ref-3 {
  background: #e0fdff;
  color: #00c3d0;
}

.ref-4 {
  background: #ffebd4;
  color: #ed8000;
}

.ref-5 {
  background: #f6e7ff;
  color: #b53aff;
}

.ref-6 {
  background: #ebffbf;
  color: #74ac00;
}

.ref-7 {
  background: #ecedff;
  color: #6068ff;
}

.ref-8 {
  background: #fffcac;
  color: #a19b00;
}

.ref-9 {
  background: #ffe8e8;
  color: #d50000;
}

.ref-10 {
  background: #def3ff;
  color: #00a4ff;
}

.reference {
  display: flex;
  gap: var(--spacing-16);
}
.reference .reference-num {
  width: var(--spacing-32);
  height: var(--spacing-32);
  border-radius: var(--border-radius);
  text-align: center;
  line-height: 32px;
}

.reference .source-link {
  color: var(--colors-teal-500);
}

.reference-contents {
  visibility: hidden;
  transition: visibility 0.2s;
  max-width: 600px;
  word-wrap: break-word;
  background-color: white;
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  padding: var(--spacing-24) var(--spacing-32);
  position: absolute;
  transform: translateX(50%);
  text-decoration: unset;
}

.reference-contents:hover,
.reference-link:hover + .reference-contents {
  visibility: visible;
  transition-delay: 0s;
}
