.sample-messages-container {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-16);
}

.sample-messages {
  width: 100%;
  padding: var(--spacing-32);
  background: var(--colors-cool-grey-100);
}

.widget-ask {
  position: relative;
}
.widget-ask.fixed {
  position: fixed;
  bottom: 42px;
}

.right-icon {
  padding-right: var(--spacing-56);
}
.warning-floating {
  position: fixed;
  right: 4.44vw;
  bottom: 4.44vw;
  width: 10.13vw;
}

.red {
  color: #d40000;
}

.settings-container {
  position: fixed;
  bottom: var(--spacing-32);
  left: var(--spacing-32);
}

.mobile-caution {
  display: flex;
}

.settings {
  padding: var(--spacing-32);
  margin-bottom: var(--spacing-8);
  flex-direction: column;
  gap: var(--spacing-16);
  width: 384px;
}

.widget-ask .suggestion {
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  justify-content: start;
  padding: var(--spacing-8) var(--spacing-12);
  position: absolute;
  bottom: 100%;
  height: auto;
}

.widget-ask .suggestion:hover {
  background: var(--colors-teal-50);
}

.widget-ask .send {
  position: absolute;
  right: var(--spacing-8);
  bottom: var(--spacing-8);
}

.white-space {
  position: absolute;
  left: -1000px;
  width: calc(100% + 2000px);
  height: 120px;
  top: 0;
  z-index: -1;
  background: #ffffff;
}

.followups-container {
  padding-bottom: calc(106px + var(--spacing-80));
}

.followup-button {
  justify-content: left !important;
}

.mobile-chat-width {
  width: 87.2vw;
}

@media (max-width: 780px) {
  .button {
    width: 100%;
  }
  .widget-ask.fixed {
    bottom: var(--spacing-16);
  }
}
