.sample-messages-container {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-16);
}

.sample-messages {
  width: 100%;
  padding: var(--spacing-32);
  background: var(--colors-cool-grey-100);
}

@media (max-width: 780px) {
  .button {
    width: 100%;
  }
}

.widget-ask {
  position: sticky;
  bottom: 0;
}
.right-icon {
  padding-right: var(--spacing-56);
}
.warning-floating {
  position: fixed;
  right: 4.44vw;
  z-index: 100;
  bottom: 4.44vw;
  width: 10.13vw;
}

.red {
  color: #d40000;
}

.settings-container {
  position: fixed;
  bottom: var(--spacing-32);
  left: var(--spacing-32);
}

.settings {
  padding: var(--spacing-32);
  margin-bottom: var(--spacing-8);
  flex-direction: column;
  gap: var(--spacing-16);
  width: 384px;
}

.widget-ask .suggestion {
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  justify-content: start;
  padding: var(--spacing-8) var(--spacing-12);
}

.widget-ask .suggestion:hover {
  background: var(--colors-teal-50); 
}

.widget-ask .send {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
