.sample-messages-container {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-16);
}

.sample-messages {
  width: 100%;
  padding: var(--spacing-32);
  background: var(--colors-cool-grey-100);
}

.widget-ask input {
  height: 56px;
  padding: var(--spacing-8) var(--spacing-24);
}

@media (max-width: 780px) {
  .button {
    width: 100%;
  }
}

.height-70 {
  height: 70vh;
  overflow-x: hidden;
}
.widget-ask {
  position: sticky;
  bottom: 0;
}
.pointer {
  position: absolute;
  right: 0;
  margin: 4px;
}
.right-icon {
  padding-right: var(--spacing-56);
}
.warning-floating {
  position: fixed;
  right: 7vw;
  z-index: 100;
  bottom: 5vw;
  width: 11vw;
}
.red {
  color: #d40000;
}

.settings-container {
  position: absolute;
  bottom: var(--spacing-32);
  left: var(--spacing-32);
}

.settings {
  padding: var(--spacing-32);
  margin-bottom: var(--spacing-8);
  flex-direction: column;
  gap: var(--spacing-16);
  width: 384px;
}
