@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.tags-label {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 170%;
}
.tags-tag {
  position: relative;
  border-radius: 6px;
  background-color: var(--colors-teal-50, #edfaf9);
  border: 1px solid var(--colors-teal-100, #d3f2f0);
  box-sizing: border-box;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  text-align: left;
  font-size: 14px;
  color: var(--colors-teal-500, #1d9089);
  font-family: Poppins;
  margin: 10px;
}
.tags-tag:nth-child(1) {
  margin-left: 0px;
}

.article-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
}
