{
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": false,
    "printWidth": 100,
    "trailingComma": "es5",
    "overrides": [
        {
          "files": "*.css",
          "options": {
            "singleQuote": false
          }
        }
      ]
}