name = "stampy-ui"
main = "build/index.js"

account_id = "<copy your Cloudflare Account ID from dash.cloudflare.comD : Workers : Overview>"
workers_dev = true
kv_namespaces = [
  { binding = "STAMPY_KV", id = "<copy your STAMPY_KV Namespace ID from dash.cloudflare.com : Workers : KV>" }
]
compatibility_date = "2022-02-19"
compatibility_flags = ["url_standard"]

[site]
bucket = "./public"

[build]
command = ""
