name = "stampy-ui"
main = "build/index.js"

account_id = "<copy your Account ID from dash.cloudflare.com right hand side>"
workers_dev = true
kv_namespaces = [
  { binding = "STAMPY_KV", id = "<copy id from the namespace created in dash.cloudflare.com > Workers > KV" }
]
compatibility_date = "2022-02-19"
compatibility_flags = ["url_standard"]

[site]
bucket = "./public"

[build]
command = ""
