name = "stampy-ui"
main = "build/index.js"

account_id = "{CLOUDFLARE_ACCT_ID}"
workers_dev = true
kv_namespaces = [
  { binding = "STAMPY_KV", id = "{STAMPY_KV_ID}" }
]
compatibility_date = "2022-02-19"
compatibility_flags = ["url_standard"]

[site]
bucket = "./public"

[build]
command = ""
