.keepGoing-next {
  width: calc(99% - 32px);
  position: relative;
  border-radius: 6px;
  background-color: var(--colors-teal-600);
  display: flex;
  justify-content: space-between;
  padding: 32px;
  margin-bottom: 56px;
}
.keepGoing span {
  font-size: 18px;
}
.keepGoing-next-title {
  position: relative;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 170%;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  color: #fff;
  text-align: left;
  display: inline-block;
}
