.container {
  background-color: var(--colors-teal-600);
  justify-content: space-between;
  padding: var(--spacing-32);
  margin-bottom: var(--spacing-56);
  gap: var(--spacing-24);
}

@media (max-width: 1136px) {
  .flex_dynamic {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
  }
  .container {
    padding: var(--spacing-24);
  }
}
