.feedback {
  display: flex;
  align-items: center;
}

.thanks {
  transition: opacity 200ms ease-in-out;
  margin-left: 0.5rem;
  pointer-events: none;
}
.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  left: calc(13.333vw + 85px);
  width: 384px;
  padding: 30px;
  border-radius: 6px;
}

/* Comment to Nemo when he reviews: why didn't you just do this the way you did the settings buttons? */
.select-option {
  height: var(--spacing-48);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-16);
  cursor: pointer;
  width: 100%;
}

.submit {
  height: var(--spacing-48);
  border-radius: var(--border-radius);
  font-weight: 500 !important;
  cursor: pointer;
  width: 100%;
}

.select-option.selected {
  border: 1px solid var(--colors-teal-500);
}

.feedback-text {
  width: calc(100% - var(--spacing-24));
  max-width: calc(100% - var(--spacing-24));
  padding: var(--spacing-12);
  margin: var(--spacing-40) 0;
  box-sizing: content-box;
}
.feedback-text.no-options {
  margin: var(--spacing-16) 0;
}
.submit-feedback.enabled {
  cursor: pointer;
  opacity: 1;
}

.composite-button > .feedback-form {
  position: absolute;
  transform: translate(-9vw, var(--spacing-56));
  margin: var(--spacing-24);
}
