.footer {
  margin-top: 80px;
}

.footer-icon {
  position: absolute;
  top: 231px;
  left: 748px;
  width: 12px;
  height: 12px;
  object-fit: contain;
}

.footer-description {
  top: 154px;
  left: 192px;
  letter-spacing: -0.01em;
  display: inline-block;
  max-width: 403px;
  margin-bottom: 23px;
}

.footer-logo {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.footer-ecosystem {
  margin: 0;
}

.footer-box {
  position: absolute;
  height: 14.16%;
  width: 19.44%;
  top: 35.16%;
  left: 65.21%;
  letter-spacing: -0.01em;
  display: inline-block;
}

.footer-volunteers {
  height: 12.33%;
  top: 35.16%;
  left: 45.76%;
  letter-spacing: -0.01em;
  display: inline-block;
}

.footer h5 {
  letter-spacing: -0.01em;
  font-weight: 600;
  margin-block-end: 1em;
}

.footer .copyright {
  font-size: 14px;
  letter-spacing: -0.01em;
  text-align: center;
  width: 100%;
}

.footer-brand {
  top: 104px;
  left: 192px;
  font-size: 22px;
  letter-spacing: -0.02em;
  line-height: 155%;
  font-weight: 600;
  color: var(--colors-teal-500, #1d9089);
}

.footer-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}
