.footer {
  margin-top: var(--spacing-104);
}

.footer-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  margin: var(--spacing-104) 13.33vw var(--spacing-80) 13.33vw;
}

@media (max-width: 640px) {
  .footer-contents {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 0;
  }
}
