.footer-icon {
  position: absolute;
  top: 231px;
  left: 748px;
  width: 12px;
  height: 12px;
  object-fit: contain;
}
.footer-description {
  /*position: absolute;*/
  top: 154px;
  left: 192px;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 170%;
  display: inline-block;
  max-width: 403px;
  margin-bottom: 23px;
}
.footer-logo {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.footer-ecosystem {
  margin: 0;
}
.footer-box {
  position: absolute;
  height: 14.16%;
  width: 19.44%;
  top: 35.16%;
  left: 65.21%;
  letter-spacing: -0.01em;
  line-height: 170%;
  display: inline-block;
}
.footer-volunteers {
  /*position: absolute;*/
  height: 12.33%;
  /*width: 15%;*/
  top: 35.16%;
  left: 45.76%;
  letter-spacing: -0.01em;
  line-height: 170%;
  display: inline-block;
}
.footer-reachout {
  height: 6.16%;
  letter-spacing: -0.01em;
  line-height: 170%;
  font-weight: 600;
  color: var(--colors-teal-500, #1d9089);
  display: flex;
  gap: 14px;
}
.footer-partners {
  /*position: absolute;*/
  top: 111px;
  left: 939px;
  letter-spacing: -0.01em;
  line-height: 170%;
  font-weight: 600;
  margin-block-end: 1em;
}
.footer-help {
  /*position: absolute;*/
  top: 111px;
  left: 659px;
  letter-spacing: -0.01em;
  line-height: 170%;
  font-weight: 600;
  margin-block-end: 1em;
}
.footer-copyright {
  position: absolute;
  /*height: 5.48%;*/
  /*top: 90.87%;*/
  /* left: calc(50% - 187px); */
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 170%;
  color: var(--colors-cool-grey-600, #788492);
  text-align: center;
  display: inline-block;
  width: 376px;
  text-align: center;
  width: 100%;
}
.footer-copyright a {
  color: inherit;
}
.footer-brand {
  /*position: absolute;*/
  top: 104px;
  left: 192px;
  font-size: 22px;
  letter-spacing: -0.02em;
  line-height: 155%;
  font-weight: 600;
  color: var(--colors-teal-500, #1d9089);
}
.footer-line {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.footer-small {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 170%;
}
.footer-learnMore {
  /*position: absolute;*/
  top: 270px;
  left: 192px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 16px 40px rgba(175, 183, 194, 0.2);
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px 17px;
  color: var(--colors-cool-grey-600, #788492);
  width: fit-content;
}
.footer {
  position: relative;
  width: 100%;
  height: 438px;
  text-align: left;
  font-size: 16px;
  color: var(--text-black, #1b2b3e);
  font-family: Poppins;
}
.footer-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}
