.feedback-container {
  width: 384px;
  padding: var(--spacing-32);
}
.select-option {
  height: var(--spacing-48);
  padding: var(--spacing-8) var(--spacing-16);
  margin: var(--spacing-8) 0;
  cursor: pointer;
  width: 100%;
}
.select-option.selected {
  border: 1px solid var(--colors-teal-500);
}

.feedback-form {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 16px;
  color: var(--colors-cool-grey-600);
  z-index: 2;
}

.feedback-text {
  width: calc(100% - var(--spacing-24));
  max-width: calc(100% - var(--spacing-24));
  height: 128px;
  padding: var(--spacing-12);
  margin: var(--spacing-40) 0;
  box-sizing: content-box;
}
.feedback-text.no-options {
  margin: var(--spacing-16) 0;
}
.submit-feedback.enabled {
  cursor: pointer;
  opacity: 1;
}

.tooltip:hover::after {
  display: block;
}

.action-feedback-text {
  display: none;
  position: absolute;
  left: 180px;
  text-wrap: nowrap;
  top: 13px;
}
.action-feedback-text.show {
  display: block;
}
.composite-button > .feedback-form {
  position: absolute;
  left: 90px;
  top: -342px;
  display: none;
}
.composite-button > .feedback-form.show {
  display: block;
}
