.card-small {
  padding: var(--spacing-24);
  align-items: start;
  justify-content: start;
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

.card-small:hover {
  border-color: var(--colors-teal-200);
}

.card-small-icon {
  width: 100%;
  height: 114px;
  margin-bottom: var(--spacing-24);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  flex-shrink: 0;
}
