article {
  max-width: 47.43vw;
  margin: 0 auto;
}

article .meta {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.interactive-options {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  vertical-align: center;
  padding: var(--spacing-12) var(--spacing-16);
  gap: var(--spacing-16);
}
.interactive-options .interactive-option {
  cursor: pointer;
  line-height: 1;
}

article .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-8);
  margin-top: var(--spacing-40);
}

article .tag {
  display: inline-block;
  background-color: var(--colors-teal-50);
  border-color: var(--colors-teal-100);
  color: var(--colors-teal-500);
  padding: 0 var(--spacing-16);
}

article .tag:hover {
  border-color: var(--colors-teal-200);
  text-decoration: none;
}

article .contents a {
  color: var(--colors-teal-500);
  font-weight: 700;
}

article .contents a:visited {
  color: var(--colors-teal-800);
}

article .contents p {
  padding-bottom: var(--spacing-32);
}

article .glossary-entry {
  border-bottom: 3px dotted var(--colors-cool-grey-500);
  cursor: pointer;
}

article .link-popup {
  visibility: hidden;
  opacity: 0;
  width: 522px;
  height: 304px;
  position: absolute;
  display: inline-block;
  font: var(--baseFont);
  font-style: normal;
  font-weight: 300;
  line-height: 170%; /* 30.6px */
  z-index: 2;
  transform: translate(-20vw, var(--spacing-40));
  transition:
    visibility 0s 300ms,
    opacity cubic-bezier(1, 0, 1, 1) 300ms;
}

article .contents a.button {
  font-weight: normal;
}
article .link-popup .glossary-popup > .contents {
  padding: var(--spacing-24) var(--spacing-40) var(--spacing-24);
}
article .defintion {
  height: 160px;
  display: -webkit-box;
  /* These are webkit specific things, so might not work in all browsers (firefox handles them fine) */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Number of lines you want to display */
  overflow: hidden;
  text-overflow: ellipsis;
}
article .link-popup .glossary-popup > img {
  width: 100%;
  height: 303px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

article .link-popup.shown {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition:
    visibility 0s,
    opacity 100ms;
}
article .link-popup p {
  margin: 0;
}

.article-meta {
  display: flex;
  align-items: center;
  gap: var(--spacing-32);
}

article .footer-comtainer {
  display: flex;
  align-items: center;
}

article .footer-comtainer > * {
  margin: var(--spacing-8, 8px);
}

@media only screen and (max-width: 640px) {
  article {
    max-width: 100%;
  }
  article .footer-comtainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  article .footer-comtainer > div:nth-child(-n + 2) {
    flex: 1 1;
  }
}
