article {
  flex: 100;
  max-width: 800px;
  min-height: 100vh;
  padding-left: var(--spacing-80);
}

article.loading .contents {
  overflow: hidden;
  max-width: 100%;
  animation: infinite-loader 3s ease-in infinite;
}
@keyframes infinite-loader {
  0% {
    opacity: 0;
    max-width: 80px;
  }
  30% {
    opacity: 1;
    max-width: 100px;
  }
  100% {
    opacity: 0;
  }
}

article .meta {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.interactive-options {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  vertical-align: center;
  padding: var(--spacing-12) var(--spacing-16);
  gap: var(--spacing-16);
}
.interactive-options .interactive-option {
  cursor: pointer;
  line-height: 1;
}

article .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-8);
  margin-top: var(--spacing-40);
}

article .tag {
  display: inline-block;
  background-color: var(--colors-teal-50);
  border-color: var(--colors-teal-100);
  color: var(--colors-teal-500);
  padding: 0 var(--spacing-16);
  height: 32px;
}

article .tag:hover {
  border-color: var(--colors-teal-200);
  text-decoration: none;
}

article .contents a {
  color: var(--colors-teal-500);
  font-weight: 500;
}

article .contents a:visited {
  color: var(--colors-teal-800);
}

article .contents p {
  padding-bottom: var(--spacing-24);
}

article .contents p:last-child {
  padding-bottom: 0;
}

article .contents h1,
article .contents h2,
article .contents h3,
article .contents h4,
article .contents h5,
article .contents h6 {
  padding-bottom: var(--spacing-24);
}

article .contents li:last-child {
  padding-bottom: var(--spacing-24);
}

/* If a list is preceded by a paragraph, reduce top margin */
article .contents p + ul,
article .contents p + ol {
  margin-top: -16px;
}

/* Styling for list items */
article .contents li {
  padding-bottom: var(--spacing-8);
}

article .contents > p:has(> img) {
  text-align: center;
  padding-bottom: 0;
}

article .contents > p.image-caption {
  font-style: italic;
  color: var(--colors-cool-grey-600);
  font-size: 0.9em;
  padding-top: 0;
  margin-left: var(--spacing-40);
  margin-right: var(--spacing-40);
}

article .contents img {
  max-width: 100%;
}

article .glossary-entry {
  border-bottom: 3px dotted var(--colors-cool-grey-500);
  cursor: default;
}

article .link-popup {
  visibility: hidden;
  z-index: 4;
  width: 512px;
}

article .link-popup .footnote {
  padding: var(--spacing-32) var(--spacing-32) var(--spacing-32) var(--spacing-32);
}

.contents .footnotes {
  margin-top: var(--spacing-16);
  font-size: 16px;
}

.contents .footnotes-sep {
  border: 1.5px solid var(--colors-cool-grey-600);
  border-bottom: 0;
}

article .footnote-ref {
  position: relative;
}

article .glossary-popup {
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 304px;
}

article .contents a.button {
  font-weight: normal;
}
article .link-popup .glossary-popup > .contents {
  padding: var(--spacing-24) var(--spacing-40) var(--spacing-24);
}
article .definition {
  height: 140px;
  display: -webkit-box;
  /* These are webkit specific things, so might not work in all browsers (firefox handles them fine) */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Number of lines you want to display */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: var(--spacing-32);
}
article .link-popup .glossary-popup > img {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

article .link-popup.shown {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition:
    visibility 0s,
    opacity 100ms;
}
article .link-popup p {
  margin: 0;
}

.article-meta {
  display: flex;
  align-items: center;
  gap: var(--spacing-32);
}

article .footer-comtainer {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-56);
  margin-bottom: var(--spacing-24);
  gap: var(--spacing-16);
}

article .banner {
  padding: var(--spacing-12) var(--spacing-24);
  margin-bottom: var(--spacing-12);
}
article .banner h3 {
  display: flex;
  align-items: center;
}
article .banner h3 img,
article .banner h3 iframe {
  width: 2em;
  border: none;
}
article .banner h3 .title {
  padding-left: 10px;
}
/* Make links in banners clearly visible */
article .banner-contents a {
  text-decoration: underline;
}

article blockquote {
  border-left: 4px solid var(--colors-teal-500);
  background: var(--colors-teal-50);
  padding: var(--spacing-16) var(--spacing-32);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

article blockquote ~ blockquote {
  padding-top: 0;
}

article blockquote + p {
  padding-top: var(--spacing-32);
}

.footer-comtainer .edited-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}

.footer-comtainer .feeback-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

@media (min-width: 1136px) {
  article .link-popup {
    position: absolute;
    max-width: 480px;
    display: inline-block;
    z-index: 2;
    left: calc(50% - 200px);
    transform: translateY(var(--spacing-40));
    transition:
      visibility 0s 300ms,
      opacity cubic-bezier(1, 0, 1, 1) 300ms;
  }
}

@media only screen and (max-width: 1136px) {
  article {
    max-width: 100%;
    padding: 0;
  }
  article .footer-comtainer {
    flex-direction: column;
    align-items: start;
  }
  article .link-popup .footnote {
    margin-top: 42px;
  }
  article .glossary-popup {
    margin-top: 50px;
  }

  article .link-popup {
    width: 100%;
  }

  article {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  /* Hide the image on mobile */
  article .glossary-popup .contents + img {
    display: none;
  }
}
