.testimonial {
  border: 1px solid var(--colors-cool-grey-200);
  border-radius: var(--border-radius);
}

.testimonial.expanded {
  padding: var(--spacing-40);
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial.squeezed {
  padding: var(--spacing-32);
}

.testimonial-header {
  display: flex;
  align-items: center;
}
