.top-menu-link {
  display: flex;
  white-space: nowrap;
}
.top-menu-icon {
  width: var(--spacing-24);
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
}
.top-menu-text {
  margin-left: var(--spacing-8);
}
