.top-menu-item {
  font-size: 24px;
  list-style: none;
  line-height: normal;
}
.top-menu-link {
  text-decoration: none;
  display: flex;
}
.top-menu-icon {
  width: 24px;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
}
.top-menu-text {
  margin-left: 8px;
  color: var(--text-black);
}
.top-menu-text.secondary {
  color: var(--colors-teal-500);
}
