@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.h1 {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--colors-teal-500, #1d9089);
  margin-block-end: 0.05em;
}
