@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.paragraph {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--colors-cool-grey-600, #788492);
}
