@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container-search-results {
  position: relative;

  text-align: left;
  font-size: 14px;
  color: var(--text-black, #1b2b3e);
  font-family: Poppins;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 16px 40px rgba(175, 183, 194, 0.2);
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  box-sizing: border-box;
  width: 26.458vw;
  height: 100%;
}

.search-result {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  border-top: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  padding: 32px;
  gap: 16px;
}
.search-result:hover {
  background-color: var(--colors-teal-50, #edfaf9);
}
.search-result-image {
  min-width: 16px;
  min-height: 16px;
}
.search-result-title {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 170%;
  font-weight: 600;
  font-family: Poppins;
  color: var(--text-black, #1b2b3e);
  text-align: left;
  cursor: pointer;
}
.search-result-description {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 170%;
  font-family: Poppins;
  color: var(--text-black, #1b2b3e);
  text-align: left;
  display: inline-block;
}
.search-result-source {
  margin-top: 16px;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.01em;
  line-height: 170%;
  font-family: Poppins;
  color: var(--colors-cool-grey-600, #788492);
  text-align: left;
  display: inline-block;
}
