.button {
  cursor: pointer;
  display: inline-flex;
  height: var(--spacing-56, 56px);
  padding: 7px 21px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4, 4px);
  box-shadow: 0px 16px 40px 0px rgba(32, 44, 89, 0.05);
  border-radius: 6px;
  box-sizing: border-box;
}

.primary {
  /* background: var(--colors-teal-500, #1d9089); */
  background: red;
  font-weight: 600;
  color: var(--colors-white, #ffffff);
}

.primary:hover {
  background: var(--colors-teal-700, #17736e);
}

.primary-alt {
  background: var(--colors-white, #ffffff);
  color: var(--colors-teal-500, #1d9089);
}

.primary-alt:hover {
  color: var(--colors-teal-800, #146560);
}

.secondary {
  color: var(--colors-cool-grey-600, #788492);
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  background: var(--colors-white, #fff);
}

.secondary:hover {
  border: 1px solid var(--colors-teal-200, #a6d9d7) !important;
}

.secondary-alt {
  color: var(--colors-teal-500, #1d9089);
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  background: var(--colors-white, #fff);
}

.secondary-alt:hover {
  border: 1px solid var(--colors-teal-200, #a6d9d7);
}

/* #### Composite button #### */
.composite-button {
  box-shadow: 0px 16px 40px rgba(175, 183, 194, 0.2);
}

.composite-button > .button {
  border-radius: 0;
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 0;
  box-shadow: revert;
}

.composite-button > .button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left-width: 1px;
  border-right: 1px solid transparent;
}

.composite-button > .button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right-width: 1px;
  border-left: 1px solid transparent;
}

/* Make sure the first button doesn't have a negative margin */
.composite-button > .button:first-child {
  margin-left: 0;
}

.composite-button .button:hover {
  border-width: 1px;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  transform: translateY(var(--spacing-56, 56px));
  padding: 5px;
  color: var(--colors-white);
  background: var(--text-black);
  background: #333;
  border-radius: 5px;
  display: none;
  z-index: 1;
}

.tooltip:hover::after {
  display: block;
}
