.button {
  cursor: pointer;
  display: inline-flex;
  padding: var(--spacing-8) var(--spacing-24);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4, 4px);
  box-shadow: 0px var(--spacing-16) var(--spacing-40) 0px rgba(32, 44, 89, 0.05);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  position: relative;

  background: var(--card-background);
  border: 1px solid var(--border);
}

.button-secondary {
  position: relative;
  padding: 0.25rem;
  border-radius: var(--border-radius);
  border-width: 0;
  line-height: 0;
  background: inherit;
  cursor: pointer;
}

.button.small {
  height: 40px; /* This shouldn't get overridden on mobile */
}

.button.large {
  min-height: var(--spacing-56, 56px);
}

/* style */

.primary {
  background: var(--colors-teal-500, #1d9089);
  font-weight: 500;
  color: var(--colors-white, #ffffff);
}

.primary-alt {
  background: var(--colors-white, #ffffff);
  color: var(--colors-teal-500, #1d9089);
}

.secondary {
  color: var(--text-secondary) !important;
  border: 1px solid var(--border);
  background: var(--card-background);
}

.secondary-selected {
  background: var(--colors-white, #ffffff);
  color: var(--colors-teal-500, #1d9089);
  border: 1px solid var(--colors-teal-500, #1d9089);
}

.secondary-alt {
  color: var(--colors-teal-500, #1d9089);
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  background: var(--colors-white, #fff);
}

/* large */

.primary-large {
  background: var(--colors-teal-500, #1d9089);
  font-weight: 500;
  color: var(--colors-white, #ffffff);
}

.primary-alt-large {
  background: var(--colors-white, #ffffff);
  color: var(--colors-teal-500, #1d9089);
}

.secondary-large {
  color: var(--colors-cool-grey-600, #788492) !important;
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  background: var(--colors-white, #fff);
}

.secondary-selected-large {
  background: var(--colors-white, #ffffff);
  color: var(--colors-teal-500, #1d9089);
  border: 1px solid var(--colors-teal-500, #1d9089);
}

.secondary-alt-large {
  color: var(--colors-teal-500, #1d9089);
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  background: var(--colors-white, #fff);
}

/* state */

.primary:hover,
.primary-large:hover {
  background: var(--colors-teal-700, #17736e);
}

.primary-alt:hover,
.primary-alt-large:hover {
  color: var(--colors-teal-800, #146560);
}

.secondary:hover,
.secondary-large:hover {
  border: 1px solid var(--colors-teal-200, #a6d9d7) !important;
}

.secondary-alt:hover,
.secondary-alt-large:hover {
  border: 1px solid var(--colors-teal-200, #a6d9d7);
}

.button-secondary:hover .tool-tip {
  opacity: 1;
}
.button:hover .tool-tip {
  opacity: 1;
}

.active path {
  stroke: var(--colors-teal-600);
}

.active {
  background-color: var(--hover-background);
}

.inactive:hover {
  background-color: var(--hover-background);
}

/* #### Composite button #### */
.composite-button {
  cursor: pointer;
  display: flex;
}

.composite-button > form .button,
.composite-button > .button {
  border-radius: 0;
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 0;
  box-shadow: revert;
}

.composite-button > form:first-child .button,
.composite-button > .button:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-left-width: 1px;
  border-right: 1px solid transparent;
}

.composite-button > form:last-of-type .button,
.composite-button > .button:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-right-width: 1px;
  border-left: 1px solid transparent;
}

/* Make sure the first button doesn't have a negative margin */
.composite-button > form:first-child .button,
.composite-button > .button:first-child {
  margin-left: 0;
}

.composite-button form .button:hover,
.composite-button .button:hover {
  border-width: 1px;
}

.composite-button-secondary {
  display: flex;
  border-style: solid;
  border-color: var(--colors-cool-grey-200);
  border-width: 1px;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: var(--spacing-4);
  max-width: min-content;
  height: min-content;
}

.tool-tip {
  opacity: 0;
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text);
  color: var(--background);
  padding: var(--spacing-8) var(--spacing-16);
  border-radius: var(--border-radius);
  white-space: nowrap;
  pointer-events: none;
}

.button.full-width {
  width: 100%;
  height: 48px;
  border: 0;
}
.button:disabled,
.button[disabled] {
  opacity: 0.6;
  cursor: inherit;
}
.button-secondary:disabled,
.button-secondary[disabled] {
  opacity: 0.8;
  cursor: inherit;
}
