@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
  /* colors */
  --colors-black: #000;
  --colors-cool-grey-900: #1b2b3e;
  --colors-cool-grey-800: #3a485a;
  --colors-cool-grey-700: #596676;
  --colors-cool-grey-600: #788492;
  --colors-cool-grey-500: #98a2af;
  --colors-cool-grey-400: #afb7c2;
  --colors-cool-grey-300: #c7cdd5;
  --colors-cool-grey-200: #dfe3e9;
  --colors-cool-grey-100: #f9fafc;
  --colors-white: #ffffff;

  --colors-teal-900: #115652;
  --colors-teal-800: #146560;
  --colors-teal-700: #17736e;
  --colors-teal-600: #1a817c;
  --colors-teal-500: #1d9089;
  --colors-teal-400: #4da7a6;
  --colors-teal-300: #7ac0be;
  --colors-teal-200: #a6d9d7;
  --colors-teal-100: #d3f2f0;
  --colors-teal-50: #edfaf9;

  --colors-green-500: #40c075;

  /* spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-56: 56px;
  --spacing-80: 80px;
  --spacing-104: 104px;
  --spacing-128: 128px;
  --spacing-192: 192px;
  --spacing-288: 288px;
}

.flex-container {
  display: flex;
}

.flex-double {
  flex-grow: 2;
}

body,
input {
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
  color: var(--colors-cool-grey-900), #1b2b3e;
  margin: 0;
}

/* typography tags */

h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 125%; /* 80px */
  letter-spacing: -1.28px;
}

h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 130%; /* 49.4px */
  letter-spacing: -0.57px;
}

/* typography classes */

.large {
  font-size: 22px;
  letter-spacing: -0.44px;
}

.large-reading {
  font-size: 22px;
  line-height: 190%; /* 41.8px */
  letter-spacing: -0.44px;
}

.large-bold {
  font-size: 22px;
  letter-spacing: -0.44px;
  font-weight: 600;
}

.default-bold {
  font-size: 18px;
  font-weight: 600;
}

.small {
  font-size: 16px !important;
  letter-spacing: -0.16px !important;
}

.small-bold {
  font-size: 16px;
  letter-spacing: -0.16px;
  font-weight: 600;
}

.xs {
  font-size: 14px;
  letter-spacing: -0.14px;
}

.xs-bold {
  font-size: 14px;
  letter-spacing: -0.14px;
  font-weight: 600;
}

/* color classes */

.black {
  color: var(--text-black);
}

.grey {
  color: var(--colors-cool-grey-600);
}

.white {
  color: var(--colors-white);
}

.teal-500 {
  color: var(--colors-teal-500);
}

.teal-200 {
  color: var(--colors-teal-200);
}

/* spacing classes */

.padding-bottom-4 {
  padding-bottom: var(--spacing-4);
}

.padding-bottom-8 {
  padding-bottom: var(--spacing-8);
}

.padding-bottom-16 {
  padding-bottom: var(--spacing-16);
}

.padding-bottom-24 {
  padding-bottom: var(--spacing-24);
}

.padding-bottom-32 {
  padding-bottom: var(--spacing-32);
}

.padding-bottom-40 {
  padding-bottom: var(--spacing-40);
}

.padding-bottom-56 {
  padding-bottom: var(--spacing-56);
}

.padding-bottom-80 {
  padding-bottom: var(--spacing-80);
}

.padding-bottom-104 {
  padding-bottom: var(--spacing-104);
}

.padding-bottom-128 {
  padding-bottom: var(--spacing-128);
}

.padding-bottom-192 {
  padding-bottom: var(--spacing-192);
}

.padding-bottom-288 {
  padding-bottom: var(--spacing-288);
}

/* other tags */

a {
  color: inherit; /* disable link specific colours */
  text-decoration-color: color-mix(in srgb, currentColor, white);
}

a:hover {
  text-decoration: none;
  color: var(--colors-teal-500, #1d9089);
}

a:not(:hover, :focus-visible) {
  text-decoration: none;
}

hr {
  border: 1px solid var(--colors-cool-grey-200);
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* for troubleshooting */

.pink {
  color: pink !important;
  background: pink !important;
}

/* all other classes */

.bordered {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 16px 40px rgba(175, 183, 194, 0.2);
  border: 1px solid var(--colors-cool-grey-200);
  box-sizing: border-box;
}

/* defines the standard left and right margins */
.page-body {
  padding: 0px 13.333vw;
}

.img-2 {
  width: 16px;
  height: 16px;
}

.main-container-box-table {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-80);
}

.iconsMagnifyingGlass {
  width: 16px;
  position: relative;
  height: 16px;
}

.widget-title {
  margin-block-start: 0;
  margin-block-end: 0px;
}

.widget-subtitle {
  margin: 0;
  color: var(--text-black);
}

.widget-header {
  top: 0;
  left: 0;
  font-size: 38px;
  letter-spacing: -0.01em;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  max-width: 562px;
  margin-block-end: 38px;
}

.widget-input {
  height: 100%;
  width: calc(100% + 45px);
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 16px 40px #afb7c233;
  border: 1px solid var(--colors-cool-grey-200);
  box-sizing: border-box;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--colors-cool-grey-600);
  padding-left: 16px;
  padding-right: 66px;
}

.input-label {
  position: relative;
  letter-spacing: -0.01em;
}

.input-horizontal {
  position: absolute;
  top: calc(50% - 15px);
  left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.widget-textbox {
  top: calc(50% - 32px);
  left: calc(50% - 435px);
  width: 100%;
  height: 64px;
}

.send-button {
  top: calc(50% - 24px);
  left: 0;
  border-radius: 6px;
  background-color: var(--colors-teal-500);
  box-shadow: 0 16px 40px #202c590d;
  width: 48px;
  height: 48px;
}

.send-button-icon {
  position: absolute;
  inset: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.send-button-group {
  position: relative;
  width: 48px;
  height: 48px;
  z-index: 2;
  left: -18px;
}

.widget-ask {
  top: calc(50% + 233px);
  left: calc(50% - 435px);
  width: 100%;
  height: 64px;
  color: var(--colors-cool-grey-600);
  display: inline-flex;
  align-items: center;
}

.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 814px;
  height: 319px;
}

.widget-start-conversation {
  top: 87px;
  left: 32px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 16px 40px #202c590d;
  border: 1px solid var(--colors-cool-grey-200);
  box-sizing: border-box;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px 21px;
  margin: 16px;
  width: fit-content;
}

.widget-conversation-start-header {
  top: 32px;
  left: 32px;
  letter-spacing: -0.01em;
  color: var(--text-black);
  margin: 16px;
}

.widget-chat-group {
  top: 187px;
  left: 56px;
  width: 100%;
  height: 319px;
}

.stampyIcon {
  width: 40px;
  height: 34.56px;
  overflow: hidden;
  margin-bottom: 16px;
}

.widget-group {
  margin-top: 108px;
  width: 60vw;
  position: relative;
  height: 594px;
  text-align: left;
  color: var(--colors-teal-500);
}

.chat-message {
  display: flex;
  align-items: flex-end;
}

.chat-incoming-message {
  background: #f9fafc;
  width: 100%;
  border-radius: 6px;
}

.group-elements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10.9vw;
}
