@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
  /* colors */
  --colors-black: #1b2b3e;
  --colors-cool-grey-900: #1b2b3e;
  --colors-cool-grey-800: #3a485a;
  --colors-cool-grey-700: #596676;
  --colors-cool-grey-600: #788492;
  --colors-cool-grey-500: #98a2af;
  --colors-cool-grey-400: #afb7c2;
  --colors-cool-grey-300: #c7cdd5;
  --colors-cool-grey-200: #dfe3e9;
  --colors-cool-grey-100: #f9fafc;
  --colors-white: #ffffff;

  --colors-teal-900: #115652;
  --colors-teal-800: #146560;
  --colors-teal-700: #17736e;
  --colors-teal-600: #1a817c;
  --colors-teal-500: #1d9089;
  --colors-teal-400: #4da7a6;
  --colors-teal-300: #7ac0be;
  --colors-teal-200: #a6d9d7;
  --colors-teal-100: #d3f2f0;
  --colors-teal-50: #edfaf9;

  --colors-green-500: #40c075;

  /* spacing */
  --border-radius: 6px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-56: 56px;
  --spacing-80: 80px;
  --spacing-104: 104px;
  --spacing-128: 128px;
  --spacing-192: 192px;
  --spacing-288: 288px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

/* body */

body,
input {
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
  color: var(--colors-cool-grey-900), #1b2b3e;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* typography tags */

h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 125%; /* 80px */
  letter-spacing: -1.28px;
}

h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 130%; /* 49.4px */
  letter-spacing: -0.57px;
}

/* typography classes */

.large {
  font-size: 22px;
  letter-spacing: -0.44px;
}

.large-reading {
  font-size: 22px;
  line-height: 190%; /* 41.8px */
  letter-spacing: -0.44px;
}

.large-bold {
  font-size: 22px;
  letter-spacing: -0.44px;
  font-weight: 600;
}

.default-bold {
  font-size: 18px;
  font-weight: 600;
}

.small {
  font-size: 16px !important;
  letter-spacing: -0.16px !important;
}

.small-bold {
  font-size: 16px;
  letter-spacing: -0.16px;
  font-weight: 600;
}

.xs {
  font-size: 14px;
  letter-spacing: -0.14px;
}

.xs-bold {
  font-size: 14px;
  letter-spacing: -0.14px;
  font-weight: 600;
}

/* color classes */

.black {
  color: var(--colors-black, #1b2b3e);
}

.grey {
  color: var(--colors-cool-grey-600);
}

.white {
  color: var(--colors-white);
}

.teal-500 {
  color: var(--colors-teal-500);
}

.teal-200 {
  color: var(--colors-teal-200);
}

.selected {
  background: var(--colors-teal-50);
}

/* spacing classes */

.padding-bottom-4 {
  padding-bottom: var(--spacing-4);
}

.padding-bottom-8 {
  padding-bottom: var(--spacing-8);
}

.padding-bottom-16 {
  padding-bottom: var(--spacing-16);
}

.padding-bottom-24 {
  padding-bottom: var(--spacing-24);
}

.padding-bottom-32 {
  padding-bottom: var(--spacing-32);
}

.padding-bottom-40 {
  padding-bottom: var(--spacing-40);
}

.padding-bottom-56 {
  padding-bottom: var(--spacing-56);
}

.padding-bottom-80 {
  padding-bottom: var(--spacing-80);
}

.padding-bottom-104 {
  padding-bottom: var(--spacing-104);
}

.padding-bottom-128 {
  padding-bottom: var(--spacing-128);
}

.padding-bottom-192 {
  padding-bottom: var(--spacing-192);
}

.padding-bottom-288 {
  padding-bottom: var(--spacing-288);
}

/* width classes. please turn the grid on in figma and then define widths based on how many columns there are! */
/* note I may change these to vars later */

.col-2 {
  width: 8.54vw;
}

.col-3 {
  width: 15vw;
}

.col-4 {
  width: 21.46vw;
}

.col-4-5 {
  width: 22.78vw;
}

.col-5 {
  width: 27.99vw;
}

.col-6 {
  width: 34.44vw;
}

.col-7 {
  width: 40.9vw;
}

.col-8 {
  width: 47.43vw;
}

.col-9 {
  width: 53.89vw;
}

.col-10 {
  width: 60.35vw;
}

.col-11 {
  width: 66.88vw;
}

.full-width {
  width: 100%;
}
/* other tags */

a {
  color: inherit; /* disable link specific colours */
  text-decoration-color: color-mix(in srgb, currentColor, white);
}

a:hover {
  text-decoration: none;
  color: var(--colors-teal-500, #1d9089);
}

a:not(:hover, :focus-visible) {
  text-decoration: none;
}

hr {
  border: 1px solid var(--colors-cool-grey-200);
  border-bottom: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: var(--spacing-32);
}
ol {
  padding-left: var(--spacing-32);
}

/* other one-off classes */

.text-align-center {
  text-align: center;
}

.flex-container {
  display: flex;
}

.flex-double {
  flex-grow: 2;
}

.vertically-centered {
  margin: auto 0;
}

/* for troubleshooting */

.pink {
  color: pink !important;
  background: pink !important;
}

/* all other classes */
.rounded {
  border-radius: var(--border-radius);
  box-shadow: 0px var(--spacing-16) var(--spacing-40) rgba(175, 183, 194, 0.2);
  box-sizing: border-box;
}

.bordered {
  border-radius: var(--border-radius);
  background-color: #fff;
  box-shadow: 0px var(--spacing-16) var(--spacing-40) rgba(175, 183, 194, 0.2);
  border: 1px solid var(--colors-cool-grey-200);
  box-sizing: border-box;
}

/* defines the standard left and right margins */
.page-body {
  padding: 0px 13.333vw;
}

.article-container {
  display: flex;
  padding-left: 5.56vw;
  padding-right: 2.43vw;
  padding-top: var(--spacing-40);
}

.icon-link path {
  stroke: var(--colors-cool-grey-600);
}
.icon-link.focused path {
  stroke: var(--colors-teal-600);
}
