*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* https://css-tricks.com/a-dry-approach-to-color-themes-in-css/ */
  --light: initial;
  --dark: ;
  --bgColor: var(--light, #fff) var(--dark, #333);
  --bgColorQuestionTitle: var(--light, #bbdefb) var(--dark, #444);
  --bgColorQuestionAnswer: var(--light, #eff) var(--dark, #333);
  --bgColorCopied: #e4d4b6;
  --colorText: var(--light, #222) var(--dark, #eee);
  --colorTitle: var(--light, #666) var(--dark, #bbb);
  --colorTitleHighlight: #d9816b;
  --colorQuestionTitle: var(--light, #333) var(--dark, #ccc);
  --colorLink: #68f;
  --colorLinkVisited: #8ac;
  --colorButtonText: #8aacc8;
  --paddingSides: clamp(8px, 2vw, 16px);
}

:root.dark {
  --light: ;
  --dark: initial;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: ;
    --dark: initial;
  }

  :root.light {
    --light: initial;
    --dark: ;
  }
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 var(--paddingSides);
  color: var(--colorText);
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.4;
}

a {
  color: var(--colorLink);
  text-decoration: none;
}

a:visited {
  color: var(--colorLinkVisited);
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  align-items: flex-start;
  padding: 24px 0 48px;
}

.logo {
  width: clamp(100px, 30vw, 201px);
  height: auto;
  padding: clamp(1rem, 5vw, 2rem) 24px 0 16px;
}

.intro {
  flex: 1;
  margin: min(23px, 3.5vw) 0 10px;
  font-size: 1.1rem;
}

h1 {
  color: var(--colorTitle);
  font-size: clamp(1.5rem, 7vw, 2.5rem);
  margin: 4px 0 16px -2px; /* visually align */
  line-height: 1;
}

.highlight {
  color: var(--colorTitleHighlight);
}

header a {
  color: var(--colorLinkVisited);
  font-weight: bold;
}

.icon-links {
  align-self: flex-end;
  padding: 0 0 10px 30px;
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 0.6rem;
}

@media (max-width: 550px) {
  .intro {
    min-height: 250px;
  }

  .icon-links {
    position: absolute;
    margin: 25vw 0 0 calc(14vw - 50px);
    padding: 16px;
    align-self: flex-start;
  }
}

.icon-links > *,
.icon-links > a:visited {
  text-transform: uppercase;
  white-space: nowrap;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.icon-links > button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icon-links img {
  width: 24px;
  height: 24px;
  filter: var(--light, none) var(--dark, invert(1));
}

.share::after {
  content: 'Copied to clipboard';
  text-transform: none;
  background: var(--bgColorCopied);
  color: black;
  padding: 4px 6px;
  border-radius: 2px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: translate(0, 2em);
}

.share.copied::after {
  opacity: 1;
  transform: translate(0, 0);
}

@media (prefers-reduced-motion: no-preference) {
  .share::after {
    transition: opacity 2s, transform 0s 2s;
    will-change: opacity, transform;
  }

  .share.copied::after {
    transition: opacity 100ms, transform 100ms;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

article {
  background-color: var(--bgColorQuestionAnswer);
  border-radius: 2px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: margin 400ms;
}

@keyframes fromLeft {
  from {
    transform: translateX(100vw);
    max-height: 0;
  }
}

article > h2 {
  padding: 8px var(--paddingSides) 7px;
  background-color: var(--bgColorQuestionTitle);
  color: var(--colorQuestionTitle);
  font-size: clamp(1.1rem, 3vw, 1.25rem);
  line-height: 1.2;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}

article > h2 > .transparent-button {
  padding-right: var(--paddingSides);
  transition: padding 400ms;
}

article > h2::after {
  content: '›';
  margin-top: -8px;
  font-size: 2em;
  line-height: 0;
  font-weight: normal;
  transition: transform 400ms;
}

article > h2:hover::after {
  transform: rotate(10deg);
}

.expanded h2::after {
  transform: rotate(90deg) translateX(40%);
}

.expanded h2:hover::after {
  transform: rotate(80deg) translateX(40%);
}

.transparent-button {
  /* all: unset; removes outline which wasn't good for accessibility */
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  cursor: inherit;
  user-select: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .react-auto-height {
    overflow: hidden;
    transition: height 400ms;
  }
}

.answer {
  padding: 0 var(--paddingSides);
  transition: padding 400ms;
}

.answer p,
.answer .card-longdesc {
  margin: var(--paddingSides) 0;
}

.answer ul,
.answer ol {
  margin: var(--paddingSides);
}

.answer .card-shortdesc,
.answer .card-show-longdesc,
.answer .card-hide-longdesc {
  display: none;
}

article.related {
  margin-left: var(--paddingSides);
  max-height: 999px;
  animation: fromLeft 400ms ease-out;
  will-change: margin-left;
}

article.related > h2 > .transparent-button,
article.related .answer {
  padding-right: 0;
  will-change: padding-right;
}

footer {
  --space: 16px;
  align-self: center;
  margin-top: auto;
  padding: 100px var(--space) var(--space);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space);
  line-height: 1;
}

footer a,
footer a:visited {
  color: var(--colorButtonText);
}

footer > *:not(:last-child) {
  border-right: 1px solid #999;
  padding-right: var(--space);
}

#searchbar {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#searchbar:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: #f6f6f6;
  width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
