*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* https://css-tricks.com/a-dry-approach-to-color-themes-in-css/ */
  --light: initial;
  --dark: ;
  --bgColor: var(--light, #fff) var(--dark, #333);
  --bgColorQuestionTitle: var(--light, #bbdefb) var(--dark, #444);
  --bgColorQuestionAnswer: var(--light, #eff) var(--dark, #333);
  --colorText: var(--light, #222) var(--dark, #eee);
  --colorTitle: var(--light, #666) var(--dark, #bbb);
  --colorTitleHighlight: #d9816b;
  --colorQuestionTitle: var(--light, #333) var(--dark, #ccc);
  --colorLink: var(--light, blue) var(--dark, lightskyblue);
  --colorLinkVisited: var(--light, darkviolet) var(--dark, lightcyan);
}

:root.dark {
  --light: ;
  --dark: initial;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: ;
    --dark: initial;
  }

  :root.light {
    --light: initial;
    --dark: ;
  }
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 8px;
  color: var(--colorText);
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.4;
}

a {
  color: var(--colorLink);
  text-decoration: none;
}

a:visited {
  color: var(--colorLinkVisited);
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 48px;
}

.logo {
  width: clamp(100px, 30vw, 201px);
  height: auto;
}
.simplified-logo {
  display: var(--light, initial) var(--dark, none);
  padding: clamp(1rem, 5vw, 2rem) 24px 0 16px;
}
.dark-logo {
  display: var(--light, none) var(--dark, initial);
  margin-bottom: -16px;
}

header > div {
  flex: 1;
  min-width: 230px;
  margin: min(23px, 3.5vw) 0 10px;
}

h1 {
  color: var(--colorTitle);
  font-size: clamp(1.5rem, 7vw, 2.5rem);
  margin-left: -2px; /* visually align */
}

.highlight {
  color: var(--colorTitleHighlight);
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

article {
  background-color: var(--bgColorQuestionAnswer);
  border-radius: 2px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 300ms;
}

article.related {
  transform: translateX(16px);
  animation: fromLeft 300ms ease-out;
}

@keyframes fromLeft {
  from {
    transform: translateX(100vw);
  }
}

h2 {
  padding: 8px 16px 7px;
  background-color: var(--bgColorQuestionTitle);
  color: var(--colorQuestionTitle);
  font-size: clamp(1.1rem, 3vw, 1.25rem);
  line-height: 1.2;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}

h2::after {
  content: '›';
  margin-top: -8px;
  font-size: 2em;
  line-height: 0;
  font-weight: normal;
  transition: transform 300ms, margin 300ms;
}

h2:hover::after {
  transform: rotate(10deg);
}

.expanded h2::after {
  margin-top: 4px;
  transform: rotate(90deg);
}

.expanded h2:hover::after {
  transform: rotate(80deg);
}

.transparent-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  cursor: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .react-auto-height {
    overflow: hidden;
    transition: height 300ms;
  }
}

.answer {
  padding: 0 16px;
}

.answer p,
.answer .card-longdesc {
  margin: 16px 0;
}

.answer ul,
.answer ol {
  margin: 16px;
}

.answer .card-shortdesc,
.answer .card-show-longdesc,
.answer .card-hide-longdesc {
  display: none;
}

footer {
  align-self: center;
  margin-top: auto;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  gap: 16px;
}
