html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 0 2% 100px;
}

h1 {
  text-align: center;
}

code {
  white-space: pre-wrap;
}
