@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway&display=swap');

:root {
  /* colors */
  --colors-black: #1b2b3e;
  --colors-cool-grey-900: #1b2b3e;
  --colors-cool-grey-800: #3a485a;
  --colors-cool-grey-700: #596676;
  --colors-cool-grey-600: #788492;
  --colors-cool-grey-500: #98a2af;
  --colors-cool-grey-400: #afb7c2;
  --colors-cool-grey-300: #c7cdd5;
  --colors-cool-grey-200: #dfe3e9;
  --colors-cool-grey-100: #f9fafc;
  --colors-light-grey: #f9fafc;
  --colors-white: #ffffff;

  --colors-teal-900: #115652;
  --colors-teal-800: #146560;
  --colors-teal-700: #17736e;
  --colors-teal-600: #1a817c;
  --colors-teal-500: #1d9089;
  --colors-teal-400: #4da7a6;
  --colors-teal-300: #7ac0be;
  --colors-teal-200: #a6d9d7;
  --colors-teal-100: #d3f2f0;
  --colors-teal-50: #edfaf9;

  --colors-green-500: #40c075;

  /* spacing - user everywhere for padding and margin */
  --border-radius: 6px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: clamp(16px, 1.67vw, 24px);
  --spacing-32: clamp(24px, 2.22vw, 32px);
  --spacing-40: clamp(24px, 2.78vw, 40px);
  --spacing-48: clamp(24px, 3.33vw, 48px);
  --spacing-56: clamp(24px, 3.89vw, 56px);
  --spacing-80: clamp(40px, 5.56vw, 80px);
  --spacing-104: clamp(56px, 7.22vw, 104px);
  --spacing-128: clamp(56px, 8.89vw, 128px);
  --spacing-192: clamp(80px, 13.33vw, 192px);
  --spacing-288: clamp(128px, 20vw, 288px);

  /* height */
  --height-48: 48px;
  --height-64: 64px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

/* body */

body,
input {
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
  color: var(--colors-cool-grey-900), #1b2b3e;
  margin: 0;
}

body {
  margin: auto;
  max-width: 1608px; /* multiple of 12 for .col-x, 1 col at max width = 134px */
  min-height: 100vh;
}

/* typography tags */

h1 {
  font-size: clamp(40px, 4vw, 52px);
  font-weight: 500;
  line-height: 125%; /* 80px */
  letter-spacing: -1.28px;
}

h2 {
  font-size: clamp(24px, 2.6vw, 32px);
  font-weight: 500;
  line-height: 130%; /* 49.4px */
  letter-spacing: -0.57px;
}

/* typography classes */

.large {
  font-size: 18px;
  font-weight: 300;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
}

.large-reading {
  font-size: 18px;
  font-weight: 300;
  line-height: 190%; /* 30.6px */
  letter-spacing: -0.18px;
}

.large-bold {
  font-size: 18px;
  font-weight: 500;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.18px;
}

.default {
  font-size: 16px;
  font-weight: 300;
  line-height: 170%; /* 27.2px */
  letter-spacing: -0.16px;
  /* only use if a parent has been assigned another typography class (otherwise this is defined in body) */
}

.default-bold {
  font-size: 16px;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
  letter-spacing: -0.16px;
}

.small {
  font-size: 16px;
  font-weight: 300;
  line-height: 170%; /* 27.2px */
  letter-spacing: -0.16px;
}

.small-bold {
  font-size: 16px;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
  letter-spacing: -0.16px;
}

.xs {
  font-size: 14px;
  font-weight: 300;
  line-height: 170%; /* 23.8px */
  letter-spacing: -0.14px;
}

.xs-bold {
  font-size: 14px;
  font-weight: 500;
  line-height: 170%; /* 23.8px */
  letter-spacing: -0.14px;
}

.xxs {
  font-size: 12px;
  font-weight: 300;
  line-height: 150%; /* 23.8px */
  letter-spacing: -0.1px;
}

.leading-0 {
  line-height: 0 !important;
}
/* color classes */

.black {
  color: var(--colors-black, #1b2b3e);
}

.grey {
  color: var(--colors-cool-grey-600);
}

.white {
  color: var(--colors-white);
}

.teal-500 {
  color: var(--colors-teal-500);
}

.teal-200 {
  color: var(--colors-teal-200);
}

.selected {
  background: var(--colors-teal-50);
}

/* spacing classes */

.no-padding {
  padding: 0 !important;
}

.padding-bottom-4 {
  padding-bottom: var(--spacing-4) !important;
}

.padding-bottom-8 {
  padding-bottom: var(--spacing-8) !important;
}

.padding-bottom-16 {
  padding-bottom: var(--spacing-16) !important;
}

.padding-bottom-24 {
  padding-bottom: var(--spacing-24) !important;
}

.padding-bottom-32 {
  padding-bottom: var(--spacing-32) !important;
}

.padding-bottom-40 {
  padding-bottom: var(--spacing-40) !important;
}

.padding-bottom-56 {
  padding-bottom: var(--spacing-56) !important;
}

.padding-bottom-80 {
  padding-bottom: var(--spacing-80) !important;
}

.padding-bottom-104 {
  padding-bottom: var(--spacing-104) !important;
}

.padding-bottom-128 {
  padding-bottom: var(--spacing-128) !important;
}

.padding-bottom-192 {
  padding-bottom: var(--spacing-192) !important;
}

.padding-bottom-288 {
  padding-bottom: var(--spacing-288) !important;
}

.padding-top-4 {
  padding-top: var(--spacing-4) !important;
}

.padding-top-8 {
  padding-top: var(--spacing-8) !important;
}

.padding-top-16 {
  padding-top: var(--spacing-16) !important;
}

.padding-top-24 {
  padding-top: var(--spacing-24) !important;
}

.padding-top-32 {
  padding-top: var(--spacing-32) !important;
}

.padding-top-40 {
  padding-top: var(--spacing-40) !important;
}

.padding-top-56 {
  padding-top: var(--spacing-56) !important;
}

.padding-top-80 {
  padding-top: var(--spacing-80) !important;
}

.padding-top-104 {
  padding-top: var(--spacing-104) !important;
}

.padding-top-128 {
  padding-top: var(--spacing-128) !important;
}

.padding-top-192 {
  padding-top: var(--spacing-192) !important;
}

.padding-top-288 {
  padding-top: var(--spacing-288) !important;
}

/* padding left */

.padding-left-4 {
  padding-left: var(--spacing-4) !important;
}

.padding-left-8 {
  padding-left: var(--spacing-8) !important;
}

.padding-left-16 {
  padding-left: var(--spacing-16) !important;
}

.padding-left-24 {
  padding-left: var(--spacing-24) !important;
}

.padding-left-32 {
  padding-left: var(--spacing-32) !important;
}

.padding-left-40 {
  padding-left: var(--spacing-40) !important;
}

.padding-left-56 {
  padding-left: var(--spacing-56) !important;
}

.padding-left-80 {
  padding-left: var(--spacing-80) !important;
}

/* width classes. please turn the grid on in figma and then define widths based on how many columns there are! */
/* note I may change these to vars later */

.col-1 {
  width: clamp(0px, 3.54vw, 53px);
}

.col-2 {
  width: clamp(0px, 9.93vw, 171px);
}

.col-3 {
  width: clamp(0px, 16.25vw, 288px);
}

.col-4 {
  width: clamp(0px, 22.57vw, 405px);
}

.col-5 {
  width: clamp(0px, 28.96vw, 523px);
}

.col-6 {
  width: clamp(270px, 35.28vw, 640px);
}

.col-7 {
  width: clamp(0px, 41.6vw, 757px);
}

.col-8 {
  width: clamp(0px, 47.99vw, 875px);
}

.col-9 {
  width: clamp(0px, 54.31vw, 992px);
}

.col-10 {
  width: clamp(300px, 60.62vw, 1109px);
}

.col-11 {
  width: clamp(0px, 67.01vw, 1227px);
}

.col-12 {
  width: clamp(0px, 73.33vw, 1344px);
}

.full-width {
  width: 100%;
}

.full-height {
  height: fit-content;
  min-height: 100%;
}

/* z-index classes */
.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

/* other tags */

a {
  color: inherit; /* disable link specific colours */
  text-decoration-color: color-mix(in srgb, currentColor, white);
}

a:hover {
  text-decoration: none;
  /* color: var(--colors-teal-500, #1d9089); */
}

a:not(:hover, :focus-visible) {
  text-decoration: none;
}

hr {
  border: 1px solid var(--colors-cool-grey-200);
  border-bottom: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: var(--spacing-32);
}

ol {
  padding-left: var(--spacing-32);
}

svg {
  flex: none;
}

/* other one-off classes */

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-no-wrap {
  white-space: nowrap;
}

.flex-container {
  display: flex;
}

.flex-double {
  flex-grow: 2;
}
.auto-left {
  margin-left: auto;
}
.auto-right {
  margin-right: auto;
}

.centered {
  margin: auto;
}
.vertically-centered {
  margin: auto 0;
}
.horizontally-centered {
  margin: 0 auto;
}

.reverse-icon {
  cursor: pointer;
  transform: rotate(180deg);
}

.pointer {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  transition: visibility 0.2s;
}
.shown {
  visibility: visible;
  transition-delay: 0s;
}

.noscroll {
  overflow: hidden;
}

/* for troubleshooting */

.pink {
  color: pink !important;
  background: pink !important;
}

/* defines the standard left and right margins */
.page-body {
  padding: 0px var(--spacing-128);
}

/* all other classes */
.rounded {
  border-radius: var(--border-radius);
}

.shadowed {
  box-shadow: 0px var(--spacing-16) var(--spacing-40) rgba(175, 183, 194, 0.2);
  box-sizing: border-box;
}

.bordered {
  border-radius: var(--border-radius);
  background-color: #fff;
  box-shadow: 0px var(--spacing-16) var(--spacing-40) rgba(175, 183, 194, 0.2);
  border: 1px solid var(--colors-cool-grey-200);
  box-sizing: border-box;
}

.article-container {
  display: flex;
  padding: var(--spacing-32);
}

.icon-link path {
  stroke: var(--colors-cool-grey-600);
}

.icon-link:hover path {
  stroke: var(--colors-teal-500);
}

.icon-link.focused path {
  stroke: var(--colors-teal-600);
}

@media (min-width: 780px) {
  .mobile-only {
    display: none !important;
  }
}

/* mobile */

@media (max-width: 780px) {
  .page-body {
    padding: 0px var(--spacing-48);
  }

  /* typography tags */

  h1 {
    font-size: 38px;
    font-weight: 500;
    font-weight: 500;
    line-height: 130%; /* 49.4px */
    letter-spacing: -0.57px;
  }

  h2 {
    font-size: 26px;
    font-weight: 500;
    font-weight: 500;
    line-height: 145%; /* 37.7px */
    letter-spacing: -0.52px;
  }

  /* typography classes */

  .large {
    font-size: 18px;
    font-weight: 300;
    font-weight: 300;
    line-height: 170%; /* 30.6px */
    letter-spacing: -0.18px;
  }

  .large-reading {
    font-size: 18px;
    font-weight: 300;
    font-weight: 300;
    line-height: 190%; /* 34.2px */
    letter-spacing: -0.18px;
  }

  .large-bold {
    font-size: 18px;
    font-weight: 500;
    font-weight: 500;
    line-height: 170%; /* 30.6px */
    letter-spacing: -0.18px;
  }

  /* other one-off classes */

  .desktop-only {
    display: none !important;
  }

  /* other classes */

  .article-container {
    padding: var(--spacing-32);
    flex-direction: column;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b2b3e99;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }

  .background > * {
    margin: 198px auto;
    background-color: var(--colors-white);
    width: 85%;
  }
} /* end mobile */
p,
textarea,
button {
  font-family: Poppins;
}
.margin-top-40 {
  margin-top: var(--spacing-40);
}
.relative {
  position: relative;
}
