@media only screen and (max-width: 780px) {
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-8);
  }

  .top-header {
    padding: var(--spacing-8) 0;
  }

  .top-header .menu-item {
    box-shadow: none;
    height: 80px;
    border-bottom: solid 1px var(--colors-cool-grey-200);
    border-radius: 0;
    padding: 0 24px;
    gap: var(--spacing-16);
  }

  .top-header.background {
    background-color: var(--colors-white);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .top-header.background > * {
    margin: inherit;
    width: 100%;
  }

  .search-bar {
    padding: var(--spacing-24) var(--spacing-40);
    gap: var(--spacing-16);
  }
  .search-bar .search-box:focus-within,
  .search-bar .search-box {
    width: 100%;
  }

  .articles-mobile .articles-dropdown-container {
    visibility: visible;
    flex-direction: column;
    width: 100%;
  }
}
