@media only screen and (max-width: 640px) {
  .top-header {
    padding: 0;
  }
  .top-nav {
    justify-content: space-between;
    padding: var(--spacing-16);
  }
  .top-logo {
    padding: 0;
  }
  .composite-elements {
    display: flex;
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
  .flex-start {
    justify-content: flex-start;
  }
  .mobile-menu > .button {
    border-radius: 0;
  }
  .mobile-menu > .button:first-child {
    border-bottom: 0;
  }
  .icon-margin {
    margin-right: var(--spacing-8);
  }
  .articles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-16);
    border-bottom: 1px solid var(--colors-cool-grey-200);
  }
  .back-icon {
    cursor: pointer;
    transform: rotate(180deg);
  }
  .articles-mobile {
    padding: var(--spacing-24);
  }
  .articles-dropdown-container {
    visibility: visible !important;
    flex-direction: column;
    border: 0;
    box-shadow: none;
    position: static !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .search-icon {
    margin-right: var(--spacing-16);
  }
  .search-content > svg:nth-of-type(2) {
    visibility: hidden;
  }
  .mobile-searchbar {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .mobile-searchbar > svg {
    margin-top: var(--spacing-12);
    margin-left: var(--spacing-16);
  }
  .mobile-searchbar > * .search-box.expandable:focus-within,
  .mobile-searchbar > * .search-box.expandable {
    width: 100%;
  }
  .container-search-results-mobile {
    height: 50vh;
    width: 100%;
    position: inherit;
    margin-top: var(--spacing-8);
    overflow: scroll;
  }
  .mobile-searchbar > div {
    width: 100%;
  }
}
