.main-container-box-table {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-80, 80px);
}

.content-box-table-button {
  padding: var(--spacing-16, 16px) var(--spacing-24, 24px);
}

.eclipse-team-bottom {
  /* position: relative; */
  top: var(--spacing-40, 40px);
  left: var(--spacing-56, 56ax);
}

.eclipse-individual-top {
  /* position: relative; */
  bottom: var(--spacing-80, 80px);
  right: var(--spacing-40, 40px);
}

.content-box-table {
  padding: var(--spacing-16, 16px);
}

.teal-background {
  background-color: var(--colors-teal-600, #1a817c);
}

.content-box-description {
  margin: var(--spacing-80, 80px);
}
