.main-container-box-table {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-80);
}

.content-box-table-button {
  padding: var(--spacing-8) var(--spacing-24);
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-4);
}

.eclipse-team-bottom {
  /* position: relative; */
  top: var(--spacing-40);
  left: var(--spacing-56);
}

.eclipse-individual-top {
  /* position: relative; */
  bottom: var(--spacing-80);
  right: var(--spacing-40);
}

.content-box-table {
  padding: var(--spacing-16);
}

.teal-background {
  background-color: var(--colors-teal-600);
}

.content-box-description {
  margin: var(--spacing-80);
}

.content-box-button:hover,
.content-box-table-button:hover {
  color: var(--colors-teal-800);
  border-color: var(--colors-teal-200);
  text-decoration: none;
}

.content-box-table.main svg {
  margin: -10px 0;
}

.content-box-table.main img {
  width: fit-content;
  height: -webkit-fill-available;
  height: -moz-available;
  margin: -7px 0;
}
.content-box-table.main {
  overflow: hidden;
  padding: 0;
  padding-right: var(--spacing-8);
}

@media (max-width: 600px) {
  .main-container-box-table {
    flex-direction: column;
    height: 550px;
    margin-bottom: var(--spacing-80);
  }

  .content-box-description {
    margin: var(--spacing-40); /* FIXME: should be done automatically */
  }
}
