.card {
  height: 320px;
  padding: var(--spacing-16);
  display: flex;
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
}

.card:hover {
  border-color: var(--colors-teal-200);
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-32);
  gap: var(--spacing-4);
}

.card-content > .default-bold {
  margin-bottom: var(--spacing-8);
}

.card-content > .small {
  margin-top: var(--spacing-4);
}

.card-icon {
  height: 100%;
  background-color: var(--hover-background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  width: 38%;
  flex-shrink: 0;
}

@media (max-width: 780px) {
  .card {
    flex-direction: column;
    height: auto;
  }

  .card-icon {
    width: 100%;
    height: 120px;
    margin-bottom: var(--spacing-24);
  }

  .card-content {
    padding: 0;
  }
}
