.articles-group::-webkit-scrollbar {
  display: none;
}
.articles-group {
  flex: none;
  width: clamp(230px, 30vw, 400px);
  height: fit-content;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 1;
  transition:
    opacity 200ms,
    width 200ms;
}

.articles-group.loading {
  opacity: 0;
}

.articles-group.none {
  width: clamp(0px, calc(100vw - 1100px), 400px);
}

.articles-title {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-8);
  cursor: pointer;
}
.articles-title a {
  flex: 1;
}
.mark-visited .articles-title:not(.selected) a:visited {
  color: var(--colors-cool-grey-600);
}

.article-selector .dropdown-icon,
.articles-group .dropdown-icon {
  height: var(--spacing-12);
  margin-left: var(--spacing-8);
}
.article-selector .dropdown-icon.active,
.articles-group .article[open] .dropdown-icon {
  transform: rotate(90deg);
}

.articles-group .article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: var(--spacing-8);
  position: relative;
  cursor: pointer;
}

/*
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary#default_style
  "For Webkit-based browsers, such as Safari, it is possible to control the icon display
  through the non-standard CSS pseudo-element ::-webkit-details-marker.
  To remove the disclosure triangle, use summary::-webkit-details-marker { display: none }."
*/
.articles-group details summary::-webkit-details-marker {
  display: none;
}

.articles-dropdown {
  padding-left: var(--spacing-40);
}

.articles-group .parent::before {
  content: ' ';
  background-image: url(/assets/green-dot.svg);
  background-repeat: no-repeat;
  width: var(--spacing-32);
  height: 8px;
  position: relative;
  top: 25px;
  left: -8px;
}

@media (max-width: 1136px) {
  .articles-group {
    width: 100%;
  }
  .article-selector {
    margin-bottom: var(--spacing-40);
    justify-content: space-between;
  }
  .articles-title {
    padding: var(--spacing-8) var(--spacing-16);
  }
}
