.articles-group {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 16px;
  color: var(--text-black, #1b2b3e);
  font-family: Poppins;
  border-radius: 6px;
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  max-width: 328px;

  overflow-y: scroll;
  overflow-x: hidden;
}

.articles-headerLine {
  letter-spacing: -0.01em;
  line-height: 170%;
  font-weight: 600;
  margin: 8px 0px;
  padding: 8px 0px 8px 14px; /* top, right, bottom, left */
}

.articles-title {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 170%;
  font-family: Poppins;
  color: var(--text-black, #1b2b3e);
  text-align: left;
  display: inline-flex;
  align-items: center;
  padding: 8px 10px 8px 24px;
  cursor: pointer;
}
.articles-group .dropdown-icon {
  background-image: url(https://cdn.builder.io/api/v1/image/assets/TEMP/96fb907358d911377bbe9140fe09eb0758bb8be662c1fc28040cc12a9dd7e0e6?apiKey=f1073757e44b4ccd8d59791af6c41a77&);
  background-repeat: no-repeat;
  background-position-x: center;
  padding-right: 16px;
  background-position-y: center;
  height: 24px;
  transform: rotate(270deg);
}
.articles-group .article[open] .dropdown-icon {
  background-position-x: right;
  padding-right: 16px;
  background-position-y: center;
  height: 13px;
  transform: rotate(0deg);
}

.articles-group .article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*gap: 8px;*/
  align-items: flex-start;
  margin: 5px;
  position: relative;
  cursor: pointer;
  /* margin-right: 30px; */
}

.articles-dropdown {
  padding-left: 48px;
}

.articles-group a {
  color: inherit; /* disable link specific colours */
  text-decoration: inherit; /* no underline */
}

.articles-group .selected {
  background-color: rgba(237.0000010728836, 250.00000029802322, 249.00000035762787, 1);
}
.articles-group .parent::before {
  content: ' ';
  background-image: url(https://cdn.builder.io/api/v1/image/assets/TEMP/8b3b87af0a97a2778dbdc11f33a22e6c9b6a02a262bc2f698e343eefe3912ef2?apiKey=f1073757e44b4ccd8d59791af6c41a77&);
  background-repeat: no-repeat;
  width: 31px;
  height: 8px;
  position: relative;
  top: 25px;
}
