.button-secondary {
  position: relative;
  padding: 0.25rem;
  border-radius: 6px;
  border-width: 0;
  line-height: 0;
  background: inherit;
}

.button-secondary:hover .tool-tip {
  opacity: 1;
}

.thumb path {
  stroke: #788492;
}

.active path {
  stroke: var(--colors-teal-600);
}

.active {
  background-color: #edfaf9;
}

.inactive:hover {
  background-color: #f9fafc;
}

.wrapper {
  display: flex;
  border-style: solid;
  border-color: var(--colors-cool-grey-200);
  border-width: 1px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 4px;
  min-width: min-content;
  min-height: min-content;
}

.tool-tip {
  opacity: 0;
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1b2b3e;
  font-size: 14px;
  color: #f2f2f2;
  padding: 5px 15px;
  border-radius: 8px;
  white-space: nowrap;
  pointer-events: none;
  line-height: 30px;
}
