.carousel {
  background-color: var(--colors-teal-50);
  padding: var(--spacing-56);
  margin-top: var(--spacing-104);
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: var(--spacing-32);
}

.carousel .navigation {
  display: flex;
  gap: var(--spacing-8);
}

.carousel h2 {
  max-width: 550px;
}

.carousel .items {
  display: flex;
  height: 230px;
  gap: var(--spacing-40);
}

.carousel-item {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 288px;
  height: 240px;
  padding: var(--spacing-40);
  text-align: left;
  gap: var(--spacing-16);
}

@media (max-width: 1136px) {
  .carousel-item {
    width: 100%;
    height: auto;
  }
}
