.help-footer {
  border-top: 1px solid var(--colors-cool-grey-200);
  padding-top: var(--spacing-104);
  margin-top: var(--spacing-104);
}

.link-card .image + div {
  max-width: calc(100% - 105px);
}

/* Show line break on desktop */
.title-break {
  display: inline;
}

/* Hide line break on mobile */
@media (max-width: 1136px) {
  .title-break {
    display: none;
  }
}
