/* .howcanihelp-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.paths-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-32);
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 64px;
}

.section-split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-40);
}

.help-footer {
  border-top: 1px solid var(--colors-cool-grey-200);
  padding-top: var(--spacing-80);
}

@media (max-width: 780px) {
  .paths-grid {
    grid-template-columns: 1fr;
  }
  .section-grid {
    grid-template-columns: 1fr;
  }
  .section-split {
    grid-template-columns: 1fr;
  }
} */
