@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.table-entry {
  letter-spacing: -0.01em;
  font-weight: 600;
  color: var(--colors-teal-500);
  text-align: left;
  display: block;
  text-decoration: none;
  padding: 32px;
  border-bottom: 1px solid var(--colors-teal-200);
  display: flex;
  justify-content: space-between;
}
.table-entry:hover {
  background-color: var(--colors-teal-50);
}
.table-list {
  max-width: 47.43vw;
  width: 100%;
  position: relative;
  text-align: left;
  color: var(--colors-teal-500);
  border-radius: 6px;
  border: 1px solid var(--colors-teal-200);
  box-sizing: border-box;
}
