.grid-item {
  cursor: pointer;
  text-align: left;
  padding: var(--spacing-32) var(--spacing-32);
  min-width: var(--spacing-288);
  min-height: var(--spacing-288);
  text-decoration: none;
}

.grit-item:last-of-type {
  margin-right: auto;
}

.grid-item:hover {
  outline: 1px solid var(--colors-teal-200);
}

.grid-item div {
  padding: var(--spacing-8);
}

.grid {
  display: grid;
  gap: var(--spacing-56) var(--spacing-56);
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
}
