.grid {
  display: flex;
  gap: var(--spacing-32);
  justify-content: center;
  flex-flow: wrap;
}

.grid-item {
  cursor: pointer;
  text-align: left;
  padding: var(--spacing-32) var(--spacing-32);
  width: 21.46vw;
  height: 21.46vw;
  min-width: var(--spacing-288);
  min-height: var(--spacing-288);
  text-decoration: none;
}

.grit-item:last-of-type {
  margin-right: auto;
}

.grid-item:hover {
  outline: 1px solid var(--colors-teal-200);
}

.grid-item div {
  padding: var(--spacing-8);
}
