@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  margin: 0;
  line-height: normal;
}
.grid-rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 16px 40px rgba(175, 183, 194, 0.2);
  border: 1px solid var(--colors-cool-grey-200, #dfe3e9);
  box-sizing: border-box;
}
.cardBg {
  position: relative;
  top: 0px;
  left: 0px;
  width: 309px;
  height: 361px;
}
.grid-description {
  position: absolute;
  top: 259px;
  left: 46px;
  letter-spacing: -0.01em;
  line-height: 170%;
  display: inline-block;
  width: 215px;
}
.grid-title {
  position: absolute;
  top: 144px;
  left: 48px;
  font-size: 22px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  color: var(--text-black, #1b2b3e);
  display: inline-block;
  width: 214px;
}
.grid-icon {
  position: absolute;
  top: 40px;
  left: calc(50% - 106.5px);
  width: 72px;
  height: 72px;
}
.grid-container-group {
  position: relative;
  /*width: 100%;*/
  height: 361px;
  cursor: pointer;
  text-align: left;
  font-size: 18px;
  color: var(--colors-cool-grey-600, #788492);
  font-family: Poppins;
  margin: 32.5px 32px;
}

.grid-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
