.categoriesGroup {
  padding: var(--spacing-12);
}
.categoriesGroup > * {
  padding: var(--spacing-16);
}
.categoryTitle {
  padding: var(--spacing-24);
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
