.categoriesGroup {
  padding: var(--spacing-12);
}
.categoriesGroup > * {
  padding: var(--spacing-16);
}
.categoryTitle {
  padding: var(--spacing-24);
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
.categoriesPage {
  padding: 0 var(--spacing-192);
}
.categoriesPage > h1 {
  margin-bottom: var(--spacing-40);
}
.categories-results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: var(--spacing-40);
}
.categories-results > .categoryTitle {
  flex: 1;
  flex-basis: 16vw;
}
@media (max-width: 640px) {
  .categoriesGroup {
    width: 100%;
    height: 100%;
  }
  .categoriesGroup.bordered {
    border: 0;
    box-shadow: none;
  }
  .categoryTitle.selected {
    background: inherit;
  }
}
