.categoryTitle {
  position: relative;
  text-align: left;
  display: inline-flex;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
}

.categoryAutoLayoutHorizontal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*gap: 8px;*/
  align-items: flex-start;
  margin: 5px;
  position: relative;
}
.categoryAutoLayoutHorizontal.active {
  background-color: rgba(237.0000010728836, 250.00000029802322, 249.00000035762787, 1);
}
.categoriesGroup {
  width: 100%;
  position: relative;
  height: 100%;
  text-align: left;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--colors-cool-grey-200);
  max-width: 328px;
  padding: 0 24px;
}
