name: PR Check
on:
  workflow_dispatch:
  pull_request:
    branches:
      - '*'
jobs:
  pr-check:
    runs-on: ubuntu-latest
    env:
      CODA_TOKEN: ${{ secrets.CODA_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: lint
        run: |
          npm ci
          npm run lint
      - name: test
        run: |
          cp wrangler.toml.template wrangler.toml
          npm run refresh-test-data
          npm run test
